@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
 body{ 
  background-color: antiquewhite;
 }
 :root{ 
  --popins : 'Poppins', sans-serif;
 }
.fontPopins { 
     font-family: var(--popins);     
}

  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lfmargin{ 
   margin: 40px;
}
/* code { 
  font-family: Consolas,"courier new";
color: crimson;
background-color: #f1f1f1;
padding: 2px;
font-size: 105%
} */

.b-awhite{ 
  background-color: antiquewhite !important  ;
}

.card-title{ 
  font-family: var(--popins);
  font-weight: bold;
  color: rgb(255, 112, 112);
}
.cmargin { 
  margin : 10px ; 
}